.DS_Store
.env
/prototype/RolesAssignments/.vs
/prototype/RolesAssignments/bin
/prototype/RolesAssignments/obj
/.vs/WinStudentGoalTracker/CopilotIndices
/.vs/WinStudentGoalTracker/FileContentIndex
/.vs/WinStudentGoalTracker/DesignTimeBuild
/.vs/WinStudentGoalTracker/v17
