<div class="card" [routerLink]="['/students', student().studentId]">
    <h2 class="identifier">🎓 {{ student().identifier }}</h2>

    <div class="meta">
        <span class="last-entry">IEP Date: {{ student().nextIepDate | date:'M/d/yy'}}</span>
        <span class="last-entry">
            @if (student().lastEntryDate) {
            Last entry: {{ student().lastEntryDate | date:'M/d/yy' }}
            } @else {
            No entries yet
            }
        </span>
    </div>

    <div class="stats">
        <span>Goals: {{ student().goalCount }}</span>
        <span>Events: {{ student().progressEventCount }}</span>
        <span>Benchmarks: {{ student().benchmarkCount }}</span>
    </div>
</div>